.Header {
    text-align: center;
    padding-top: 15px;
    font-size: 40px;
    @media only screen and (max-width: 1000px) {
        font-size: 8vw;
    }
}

p {
    font-size: 25px;
    margin: 0px;
}

.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.lastKeyboardRow {
    display: flex;
    align-items: center;
}
