.Key {
    width: 40px;
    height: 40px;
    border-radius: 25%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e1e1e;
    border: 1px solid white;
    cursor: pointer;
    @media only screen and (max-width: 700px) {
        width: 8.5vw;
        height: 11vw;
        margin: 2px;
        & p {
            font-size: 25px;
        }
    }
}
